[Unit]
Description=Laravel World Scraper
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/tibia-hunteds-site/src
ExecStart=/bin/bash -c "php artisan world-scraper; sleep 1;"
Restart=always
RestartSec=10
StandardOutput=append:/var/log/world-scraper.log
StandardError=append:/var/log/world-scraper.log

[Install]
WantedBy=multi-user.target